#introduction-wrapper {
    display: grid;
    grid-template-areas:
            "nav . . ."
            "monitor monitor monitor text"
            ". . . . "
            "topic topic topic topic";
    grid-template-rows: 50px 300px 10px auto;
    grid-gap: 10px;
    grid-template-columns:  repeat(4, 1fr);
    height: 100%;
}

.introduction-navigation {
    grid-area: nav;
    /*background: red;*/
}

.introduction-monitor {
    grid-area: monitor;
    /*background: yellow;*/
}

.introduction-text {
    grid-area: text;
    /*background: blue;*/
}

.introduction-topic {
    grid-area: topic;
    /*background: cadetblue;*/
}

.introduction-about,
.introduction-timeline,
.introduction-resume {
    height: 100%;
}
