div#page-introduction {
    display: flex;
    flex-flow: wrap;
    position: absolute;
    left: 0;
    top: 0;
    background: #555;
    width: 100%;
    height: 100%;
}

div#introduction-navigation {
    flex: 1 1 100%;
    height: 5%;
    box-sizing: border-box;
    border: 2px solid white;
    display: flex;
    align-items: center;
}

div#introduction-projector {
    flex: 1 1 70%;
    height: 40%;
    box-sizing: border-box;
    border: 2px solid white;
    display: flex;
    align-items: center;
}

div#introduction-projector {}

div#author-message {
    flex: 1 1 30%;
    height: 40%;
    box-sizing: border-box;
    border: 2px solid white;
    display: flex;
    align-items: center;
}

div#resume-contents {
    flex: 1 1 100%;
    position:relative;
    overflow:hidden;
    height: 55%;
    box-sizing: border-box;
    border: 2px solid white;
    display: flex;
    align-items: center;
}

div#resume-contents > div {
    position:absolute;
    top:0;
    left:0;
    width:100%;
}

div#resume-contents #resume-timeline {
    height:100%;
}

div#resume-contents .resume {
    height:100%;
}
