.content-tools {
    display: grid;
    grid-template: repeat(2, auto) / repeat(4, 1fr);
    grid-gap: 4px;
    font-size: .7rem;
}

section {
    display: flex;
    justify-content: space-between;
    padding: 14px;
    background: #444444;
}
