.content-project {
    display: grid;
    grid-template: 200px auto  / 4fr 1fr;
    height: 300px;
    background: url("http://localhost:63342/images/tmp.jpg") no-repeat 115% 90% ;
    background-size: 750px ;
    background-color: #333;
    background-blend-mode: overlay;
    color: white;
}

.content-project header {
    grid-row-start: 2;
    grid-column-start: 1;
    font-size: 1.8rem;
    align-self: end;
    display: flex;
    flex-direction: column;
}

.content-project header h1 {
    order: 2;
    margin: 0;
}

.content-project header h2 {
    order: 1;
    font-size: 1.2rem;
    margin: 0;
}

.content-project main {
    height: 200px;
    overflow: auto;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: .7rem;
    /*grid-column-end: 2;*/
}

.content-project picture {
    grid-row-start: 2;
    grid-column-start: 2;
    align-self: end;
    justify-self: end;
}
