.content-quote {
    display: grid;
    grid-template-rows: 200px 1fr;
    grid-template-columns: 150px 1fr;
    background: url("http://localhost:63342/images/tmp.jpg") no-repeat 115% 90% ;
    background-size: 750px ;
    background-blend-mode: overlay;
    color: white;
    height: 300px;
    background-color: #333;
}

.content-quote header {
    grid-row: 2 / 3;
    grid-column: 2 / -1;
    display: flex;
    flex-direction: column-reverse;
    font-size: 1.5rem;
    /*align-self: end;*/
}

.content-quote header h1 {
    margin: 0;
}

.content-quote header h2 {
    font-size: 1rem;
    margin: 0;
}

.content-quote main {
    grid-row: 1 ;
    grid-column: 2 / -1
}

.content-quote picture {
    grid-row: 2;
    justify-self: start;
    align-self: end;
}
