.description-slideshow {
    display: grid;
    grid-template-rows: 85% 15%;
    grid-template-columns: 1fr;
    height: 100%;
    background-color: blue;
}

.description-slideshow section {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
}


.slideshow-preview {
    display: flex;
    flex-direction: column;
}


.slideshow-nav {

}


.slideshow-preview img {
    width: 800px;
}


.slideshow-media {
    display: flex;
    flex-direction: column;
    background-color: blue;
    height: 100%;
}

.slideshow-media nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.slideshow-media img {
    width: 125px;
}

