section {
    display: grid;
    grid-template: 60% 40% / 3fr 1fr;

    color: white;
    height: 100%;
    background-color: blue;
}

h2 {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    font-size: 3rem;
}

h3 {

}

dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}
