.description-slideshow {
    display: flex;
    flex-direction: column;
    background-color: blue;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

img {
    width: 200px;
}
