article {
    display: flex;
}

article > nav {
    flex-basis: 15%;
    /*background: blue;*/
}

article > nav a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    margin: 4px;
    background: #444;
    width: 75px;
    padding: 5px 8px;

}

article > section {
    /*background: yellowgreen;*/
    flex-basis: 85%;
}

article > section > ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

article > section > ul section {
  display: none;
}
