section {
    display: flex;
    justify-content: stretch;
}

header {
    font-size: 3rem;
}

.switch {
    display: flex;
    width: 100px;
    justify-content: space-around;
    /*background: yellowgreen;*/
}

.switch:before {
    content: " comments: ";
    /*background: yellowgreen;*/
}

.switch span {
    width: calc((100% - 10px) / 2);
    text-align: center;
    margin: 0 4px;
    padding: 2px;
    border: 5px;
    background: #ddd;
    cursor: pointer;
}


section > div {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section > ul {
    flex-basis: 80%;
    list-style: none;
    display: flex;
    flex-direction: column;
}

section li {
    font-size: 1.2rem;
    margin: 10px;
}

section li:before {
    content: " - ";
}

section li span {
    display: none;
}
