article {
    display: flex;
    /*background: blue;*/
}

article > nav {
    flex-basis: 15%;
    background: blue;
}

article > nav a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    margin: 4px;
    background: #444;
    width: 75px;
    padding: 5px 8px;

}

article > section {
    background: yellowgreen;
    flex-basis: 85%;
}

article > section > ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

article > section > ul li {
    /*text-align: center;*/
    /*background: green;*/
    /*color: white;*/
}

article > section > ul li section {
    /*position: absolute;*/
    /*!*left: calc(100vw - 75%);*!*/
    /*background: white;*/
    /*color: #333;*/
    /*transition: width 2s;*/
}

article > section > ul li section:hover {
    /*display: block;*/
    /*left: calc(100vw - 75%);*/
    /*background: white;*/
    /*color: #333;*/
    /*opacity: 1;*/
    /*transition: width 2s;*/
}

article > section > ul li a {
}

article > section > ul section {
  display: none;
}
