nav {
    display: flex;
    justify-content: end;
    padding: 2px 5px;
}


nav > a {
    font-size: 1.2rem;
    text-transform: capitalize;
    padding: 2px 5px;
    margin: 1px;
    color: white;
    background-color: #555555;
}
